* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: #eee;
}

.frame {
    border: 1px solid black;
    width: 18.438rem;
    height: 29.833rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display {
    border: 1px solid red;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.5rem;
    text-align: end;
    font-size: 3rem;
}

.buttons {
    border: 1px solid red;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;
}

button {
    font-size: 3rem;
    width: 3.78rem;
    height: 3.78rem;
    border-radius: 0.6rem;
}